
<footer class="bg-gray-50" aria-labelledby="footerHeading">
  <h2 id="footerHeading" class="sr-only">Footer</h2>
  <div class="max-w-md mx-auto pt-12 px-4 sm:max-w-7xl sm:px-6 lg:pt-16 lg:px-8">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8 xl:col-span-1">

        <div class="flex items-left justify-start p-0">
          <img class="h-16 w-2/4" src="./img/logo_blue.svg" alt="Klever Global">
        </div>
        <p class="text-gray-500 text-base">
          {{ T "catch_phrase_footer" }}
        </p>

      </div>
      
      <div class="mt-12 lg:grid lg:grid-cols-3 lg:gap-8 xl:mt-0 xl:col-span-2">
          <div class="mt-12 md:mt-0 sm:w-full">
            <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
              {{ T "footer_title_company" }}
            </h3>
            <ul class="mt-4 space-y-4">
              {{ range .Site.Menus.company }}
              <li>
                <a href="{{ .URL | relLangURL }}" class="text-base text-gray-500 hover:text-gray-900">
                  {{ .Title }}
                </a>
              </li>
              {{ end }}
            </ul>
          </div>
          <div class="mt-12 md:mt-0 sm:w-full">
            <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
              {{ T "footer_title_legal" }}
            </h3>
            <ul class="mt-4 space-y-4">
              {{ range .Site.Menus.legal }}
              <li>
                <a href="{{ .URL | relLangURL }}" class="text-base text-gray-500 hover:text-gray-900">
                  {{ .Title }}
                </a>
              </li>
              {{ end }}
            </ul>
          </div>
          <div class="mt-12 md:mt-0 sm:w-full">
            <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
              {{ T "footer_title_lang" }}
            </h3>
            <div class="mt-4 space-y-4">
              <fieldset class="w-full">
                <label for="language" class="sr-only">Language</label>
                <div class="relative">
                  {{ if .Site.IsMultiLingual }}
                <nav aria-label="Language switcher">
                  <ul>
                    {{ range .Site.Languages }}
                    {{ if eq . $.Site.Language }}
                    <li><span class="text-gray-500" aria-label="{{ i18n "ariaLanguage" }}{{ .LanguageName }}">{{ .LanguageName }}</span>
                      {{ end }}
                      {{ end }}
                      <ul aria-labelledby="dropdown-title">
                        {{ range $.Translations }}
                        <li><a class="text-cyan-500" title="{{ .Language.LanguageName }}" href="{{ .Permalink }}" aria-label="{{ i18n "ariaTranslation" }}{{ .Language.LanguageName }}">{{ .Language.LanguageName }}</a></li>
                      </ul>
                        {{ end }}
                    </li>
                  </ul>
                </nav>
                {{ end }}
                </div>
              </fieldset>
            </div>
          </div>
      </div>
    </div>
    <div class="mt-12 border-t border-gray-200 py-8">
      <p class="text-base text-gray-400 xl:text-center">
        &copy; {{ partial "dates/year" }} {{ .Site.Param "title" }} - All rights reserved.
      </p>
    </div>
  </div>
</footer>
