<header class="relative">
  <div x-data="{ mobileMenuOpen: false }" class="bg-gray-900 py-6">
    <nav class="relative max-w-7xl mx-auto flex items-center justify-between px-4 sm:px-6" aria-label="Klever Global">
      <div class="flex items-center flex-1">
        <div class="flex items-center justify-between w-full md:w-auto">
          <a href="{{ .Site.LanguagePrefix | relLangURL }}" class="flex items-center justify-start">
            <span class="sr-only">Klever.Global</span>
            <img class="h-24 w-2/3 md:w-auto sm:h-10" src="./img/logo_white.svg" alt="Klever Global">
          </a>
          <div class="-mr-2 flex items-center md:hidden">
            <button @click="mobileMenuOpen = true" type="button"
              class="bg-gray-900 rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:bg-gray-800 focus:outline-none focus:ring-2 focus-ring-inset focus:ring-white"
              aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <!-- Heroicon name: outline/menu -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div>
        </div>
        <div class="hidden space-x-8 md:flex md:ml-10">
          {{ range .Site.Menus.main }}
          <a href="{{ .URL | relLangURL }}" class="text-base font-medium text-white hover:text-gray-300">
            {{ .Title }}
          </a>
          {{ end }}
        </div>
      </div>
      <div class="hidden md:flex md:items-center md:space-x-6">
        <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-yellow-100 text-yellow-800">
          {{ T "existing_customer" }}
        </span>
        <a href="{{ .Site.Params.login_url }}" rel="nofollow"
          class="text-base font-medium text-white hover:text-gray-300">
          {{ T "log_in" }}
        </a>
      </div>
    </nav>

    <div x-description="Mobile menu, show/hide based on mobile menu state." x-show="mobileMenuOpen"
      x-transition:enter="duration-200 ease-out" x-transition:enter-start="opacity-0 scale-95"
      x-transition:enter-end="opacity-100 scale-100" x-transition:leave="duration-100 ease-in"
      x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95"
      class="absolute z-20 top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden" style="display: none;">
      <div class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden">
        <div class="pt-4 flex items-center justify-between">
          <div class="flex items-left justify-start p-0">
            <img class="h-16 w-2/4" src="./img/logo_blue.svg" alt="Klever Global">
          </div>
          <div class="-mr-2 px-5">
            <button @click="mobileMenuOpen = false" type="button"
              class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-cyan-600"
              @click="toggle">
              <span class="sr-only">Close menu</span>
              <svg class="h-6 w-6" x-description="Heroicon name: outline/x" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>
        </div>
        <div class="px-2 space-y-1">
          {{ range .Site.Menus.main }}
          <a href="{{ .URL | relLangURL }}"
            class="block px-3 py-2 rounded-md text-base font-medium text-gray-900 hover:bg-gray-50">
            {{ .Title }}
          </a>
          {{ end }}
        </div>
        <div class="mt-6 px-5 py-5">
          <a href="{{ .Site.Params.login_url }}"
            class="block text-center w-full py-3 px-4 rounded-md shadow bg-gradient-to-r from-teal-500 to-cyan-600 text-white font-medium hover:from-teal-600 hover:to-cyan-700">Login</a>
        </div>
      </div>
    </div>
  </div>
</header>